<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
              class="page-header-image"
              v-bind:style="{'background-image': 'url(' + publicPath + 'img/bg13.jpg' + ')' }"
      >
      </parallax>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Hi there, welcome</h1>
          <div class="text-center">
            <a href="mailto:ssdhdd85@gmail.com" class="btn btn-primary btn-icon btn-round">
              <i class="now-ui-icons ui-1_email-85"></i>
            </a>
            <a href="https://www.linkedin.com/in/mahdi-hamze-459b45194/"
               class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://join.skype.com/invite/hZOCzdNNYtqD" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-skype"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Who am i?</h2>
            <h5 class="description">
              Python backend developer with a bachelor degree in computer science.
              passionate python programmer, and long loving python.
            </h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div
                      class="image-container image-left"
                      v-bind:style="{'background-image': 'url(' + publicPath + 'img/bg14.jpg' + ')' }"
              >
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">
                  so, here is django and Vue powered portfolio.
                  along with other tech stack like, rest API,
                  docker, celery, and redis. no need for scrum for now.
                  <br/>
                  <br/>
                  <small>Mahdi</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div
                      class="image-container"
                      v-bind:style="{'background-image': 'url(' + publicPath + 'img/bg12.jpg' + ')' }"
              ></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div
                      class="image-container image-right"
                      v-bind:style="{'background-image': 'url(' + publicPath + 'img/django_1.png' + ')' }"
              ></div>
              <h3>
                python, well does it scale?
              </h3>
              <p>
                as you may have know, Cpython implementation does have a GIL,
                it does not more than one thread execute at a time in a process.
                so if we need to either use more process.
              </p>
              <p>
                There is a better wat though, using distributed computing,
                via celery and rabbitMQ or any other queue we can make sure
                our processes will be run async, on other devices with out using multiprocessing.
              </p>
              <p>
                well using all those tech along with other technologies is my specialty.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="section section-team text-center">-->
    <!--      <div class="container">-->
    <!--        <h2 class="title">Here is our team</h2>-->
    <!--        <div class="team">-->
    <!--          <div class="row">-->
    <!--            <div class="col-md-4">-->
    <!--              <div class="team-player">-->
    <!--                <img-->
    <!--                        src="img/avatar.jpg"-->
    <!--                        alt="Thumbnail Image"-->
    <!--                        class="rounded-circle img-fluid img-raised"-->
    <!--                />-->
    <!--                <h4 class="title">Romina Hadid</h4>-->
    <!--                <p class="category text-primary">Model</p>-->
    <!--                <p class="description">-->
    <!--                  You can write here details about one of your team members. You-->
    <!--                  can give more details about what they do. Feel free to add-->
    <!--                  some <a href="#">links</a> for people to be able to follow-->
    <!--                  them outside the site.-->
    <!--                </p>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-twitter"></i-->
    <!--                ></a>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-instagram"></i-->
    <!--                ></a>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-facebook-square"></i-->
    <!--                ></a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-4">-->
    <!--              <div class="team-player">-->
    <!--                <img-->
    <!--                        src="img/ryan.jpg"-->
    <!--                        alt="Thumbnail Image"-->
    <!--                        class="rounded-circle img-fluid img-raised"-->
    <!--                />-->
    <!--                <h4 class="title">Ryan Tompson</h4>-->
    <!--                <p class="category text-primary">Designer</p>-->
    <!--                <p class="description">-->
    <!--                  You can write here details about one of your team members. You-->
    <!--                  can give more details about what they do. Feel free to add-->
    <!--                  some <a href="#">links</a> for people to be able to follow-->
    <!--                  them outside the site.-->
    <!--                </p>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-twitter"></i-->
    <!--                ></a>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-linkedin"></i-->
    <!--                ></a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-4">-->
    <!--              <div class="team-player">-->
    <!--                <img-->
    <!--                        src="img/eva.jpg"-->
    <!--                        alt="Thumbnail Image"-->
    <!--                        class="rounded-circle img-fluid img-raised"-->
    <!--                />-->
    <!--                <h4 class="title">Eva Jenner</h4>-->
    <!--                <p class="category text-primary">Fashion</p>-->
    <!--                <p class="description">-->
    <!--                  You can write here details about one of your team members. You-->
    <!--                  can give more details about what they do. Feel free to add-->
    <!--                  some <a href="#">links</a> for people to be able to follow-->
    <!--                  them outside the site.-->
    <!--                </p>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-google-plus"></i-->
    <!--                ></a>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-youtube"></i-->
    <!--                ></a>-->
    <!--                <a href="#pablo" class="btn btn-primary btn-icon btn-round"-->
    <!--                ><i class="fab fa-twitter"></i-->
    <!--                ></a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="section section-contact-us text-center">-->
    <!--      <div class="container">-->
    <!--        <h2 class="title">Want to work with us?</h2>-->
    <!--        <p class="description">Your project is very important to us.</p>-->
    <!--        <div class="row">-->
    <!--          <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">-->
    <!--            <fg-input-->
    <!--                    class="input-lg"-->
    <!--                    placeholder="First Name..."-->
    <!--                    v-model="form.firstName"-->
    <!--                    addon-left-icon="now-ui-icons users_circle-08"-->
    <!--            >-->
    <!--            </fg-input>-->
    <!--            <fg-input-->
    <!--                    class="input-lg"-->
    <!--                    placeholder="Email Here..."-->
    <!--                    v-model="form.email"-->
    <!--                    addon-left-icon="now-ui-icons ui-1_email-85"-->
    <!--            >-->
    <!--            </fg-input>-->
    <!--            <div class="textarea-container">-->
    <!--              <textarea-->
    <!--                      class="form-control"-->
    <!--                      name="name"-->
    <!--                      rows="4"-->
    <!--                      cols="80"-->
    <!--                      v-model="form.message"-->
    <!--                      placeholder="Type a message..."-->
    <!--              ></textarea>-->
    <!--            </div>-->
    <!--            <div class="send-button">-->
    <!--              <n-button type="primary" round block size="lg"-->
    <!--              >Send Message-->
    <!--              </n-button-->
    <!--              >-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</template>
<script>
  import {Button, FormGroupInput} from '@/components';

  export default {
    name: 'landing',
    bodyClass: 'landing-page',
    components: {
      [Button.name]: Button,
      [FormGroupInput.name]: FormGroupInput
    },
    data() {
      return {
        form: {
          firstName: '',
          email: '',
          message: ''
        },
        publicPath: process.env.BASE_URL
      };
    }
  };
</script>
<style></style>
