<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
            class="page-header-image"
            v-bind:style="{'background-image': 'url(' + publicPath + 'img/login.jpg' + ')' }"

    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-bind:v-lazy="`${publicPath}img/now-logo.png`" alt=""/>
            </div>
            <fg-input
                    class="no-border input-lg"
                    addon-left-icon="now-ui-icons users_circle-08"
                    placeholder="Username..."
                    label="Username"
                    type="text"
                    v-model="username"
            >
            </fg-input>

            <fg-input
                    class="no-border input-lg"
                    addon-left-icon="now-ui-icons text_caps-small"
                    placeholder="Password..."
                    label="Password"
                    type="password"
                    v-model="password"
            >
            </fg-input>

            <fg-input
                    class="no-border input-lg"
                    addon-left-icon="now-ui-icons text_caps-small"
                    placeholder="Confirm Password..."
                    label="Confirm Password"
                    type="password"
                    v-model="password2"
            >
            </fg-input>

            <fg-input
                    class="no-border input-lg"
                    addon-left-icon="now-ui-icons text_caps-small"
                    placeholder="submit"
                    label=""
                    type="submit"
                    @click="processForm"
            >
            </fg-input>

            <template slot="raw-content">
              <div class="card-footer text-center">
                <a
                        href="#pablo"
                        class="btn btn-primary btn-round btn-lg btn-block"
                >Get Started</a
                >
              </div>
              <div class="pull-left">
                <h6>
                  <a href="#pablo" class="link footer-link">Create Account</a>
                </h6>
              </div>
              <div class="pull-right">
                <h6>
                  <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6>
              </div>
            </template>
          </card>
        </div>
      </div>
    </div>
    <my-main-footer></my-main-footer>
  </div>
</template>
<script>
  function getInitialFormData() {
    return {
      username: '',
      email: '',
      password: '',
      password2: '',

      is_validated: false,

      is_validated_username: false,
      is_validated_email: false,
      is_validated_password: false,
      is_validated_password2: false,

      validation_error_username: '',
      validation_error_email: '',
      validation_error_password: '',

      response: null,
    }
  }

  import {Card, Button, FormGroupInput} from '@/components';
  import MyMainFooter from '@/layout/MyMainFooter';
  const axios = require('axios').default;

  export default {
    name: 'login-page',
    bodyClass: 'login-page',
    components: {
      Card,
      MyMainFooter,
      [Button.name]: Button,
      [FormGroupInput.name]: FormGroupInput,
    },

    data() {
      return Object.assign({
        publicPath: process.env.BASE_URL,
        API_SCHEME_HOST: 'https://django-vuex.herokuapp.com', //http://localhost:8080', //todo process.env.,

        csrfToken: 'x-test',
      }, getInitialFormData())
    },

    methods: {
      getCsrfToken: async function () {
        const response = await axios.get(`${this.API_SCHEME_HOST}/api/csrf/`)
        console.log(response.data.csrfToken);
        this.csrfToken = response.data.csrfToken;
          // .then(response => {
          //   this.response = response;
          //   console.log(response.data.csrfToken)
          //   this.csrfToken = response.data.csrfToken;
          //   // return response.data.csrfToken;
          // })
          // .catch(error => {
          //   this.response = error.response;
          //
          // });
      },

      processForm: async function () {
        const noEmptyField = this.username !== '' && this.email !== '' && this.password !== '' && this.password2 !== '';

        if (noEmptyField) {
          // these fields must have value
          return;
        }

        this.is_validated_username = /^[a-zA-z1-9]+$/.test(this.username);
        // this.is_validated_email = this.email.length > 3 && this.email.length < 120 && /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.email);

        this.is_validated_password = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-+_!@#$%^&*.,?])/.test(this.password);
        this.is_validated_password2 = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-+_!@#$%^&*.,?])/.test(this.password2);
        this.is_validated_password = this.password === this.password2 && this.is_validated_password;


        this.is_validated = this.is_validated_username /*&& this.is_validated_email*/ && this.is_validated_password;

        await this.getCsrfToken();

        // console.log(this.csrfToken)

        if (this.is_validated) {
          axios.post(
            `${this.API_SCHEME_HOST}/api/accounts/user/`,
            {
              username: this.username,
              email: this.email,
              password: this.password,
              password2: this.password2
            },

            {
              headers: {
                'X-CSRFToken': this.csrfToken
              }
            },
          ).then((response) => {
            this.response = response;

          }).catch(error => {
            this.response = error.response;

          });
        }
        // alert(this.is_validated)

        //security, do not keep password or any data of user!
        this.reset();

      },
      reset: function () {
        Object.assign(this.$data, getInitialFormData());
      },


    },

    // mounted: async function () {
    //   const csrfToken = await axios.get(`${this.API_SCHEME_HOST}/api/csrf/`, {
    //     // headers: {
    //     //   'Access-Control-Allow-Origin': 'htts://127.0.0.1:8080'
    //     // }
    //   })
    //     .then(response => {
    //       this.response = response;
    //       console.log(response.data.csrfToken)
    //       this.csrfToken = response.data.csrfToken;
    //       return response.data.csrfToken;
    //     })
    //     .catch(error => {
    //       this.response = error.response;
    //
    //     });
    // }
  };
</script>
<style></style>
