{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script
      src="{% static "js/reconnecting-websocket.min.js" %}"
      charset="utf-8"></script>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
  </body>
  <script>
    var roomName = {{ room_name_json }};
    var chatSocket = new ReconnectingWebSocket(
      'ws://' + window.location.host + '/chat/customer-service/' +
      roomName + '/'
    );
    chatSocket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      var username = data['username'];
      if (data['type'] == "chat_join") {
        message = (username + ' joined \n');
      } else if (data['type'] == "chat_leave") {
        message = (username + ' left \n');
      } else {
        message = (username + ': ' + data['message'] + '\n');
      }
      document.querySelector('#chat-log').value += message;
    };
    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };
    document
      .querySelector('#chat-message-input')
      .focus();
    document
      .querySelector('#chat-message-input')
      .onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
          document
            .querySelector('#chat-message-submit')
            .click();
        }
      };
    document
      .querySelector('#chat-message-submit')
      .onclick = function (e) {
        var messageInputDom = document.querySelector(
          '#chat-message-input'
        );
        var message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({'type': 'message', 'message': message})
        );
        messageInputDom.value = '';
      };
    setInterval(function () {
      chatSocket.send(JSON.stringify({'type': 'heartbeat'}));
    }, 10000);
  </script>
</html>