<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<label for="chat-log"></label>
<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
<input id="chat-message-image" type="file"/><br/>

<label for="chat-message-input" value="select image"></label>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/>
<input id="chat-message-leave" type="button" value="Leave"/>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
    if (window.WebSocket === undefined) {
        "sockets not supported";
    }

    const roomName = "{{ room_name|escapejs }}";

    //const chatSocket = new WebSocket(
    //    'chat://' + window.location.host + '/chat/chat-room/' + roomName + '/');

    const chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + '/chat/chat-room/' + roomName + '/');

    chatSocket.binaryType = "arraybuffer";

    chatSocket.onopen = function (e) {
        console.log('websocket event: onopen');
        console.log(e);
        // tell the server join me to the chat-room
        chatSocket.send(JSON.stringify({
            'command': 'chat.join'
        }));

        chatSocket.send(JSON.stringify({
            'command': 'fetch.message'
        }));
    };

    chatSocket.onmessage = function (e) {
        if (typeof (e.data) === 'string') {
            const data = JSON.parse(e.data);

            if (data['type'] === 'chat.message') {
                const username = data['username'];
                const message = data['message'];

                document.querySelector('#chat-log').value += (username + ': ' + message + '\n');

            } else if (data['type'] === 'fetch.message') {
                //TODO iterate last_messages
                const last_messages_dict = data['last_messages'];
                for (var key in last_messages_dict) {
                    if (last_messages_dict.hasOwnProperty(key)) {
                        let message_dict = last_messages_dict[key];
                        const username = message_dict['username'];
                        const message = message_dict['message'];

                        document.querySelector('#chat-log').value += (username + ': ' + message + '\n');
                    }
                }

            } else if (data['type'] === 'chat.join') {
                console.log('chat.join');
                console.log(data['room_name']);
                const username = data['username'];
                document.querySelector('#chat-log').value += (username + ': ' + 'joined' + '\n');
            }
        } else if (e.data instanceof ArrayBuffer) {
            const buffer = e.data;
        }
    };

    chatSocket.onerror = function (e) {
        console.error('Chat socket encounter an error and will close');
        // onclose event will be fired after any error
    };

    chatSocket.onclose = function (e) {
        console.log('Chat socket closed');
    };


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if (chatSocket.readyState === WebSocket.OPEN) {
            chatSocket.send(JSON.stringify({
                'command': 'chat.message',
                'message': message
            }));

            messageInputDom.value = '';
        }
    };

    document.getElementById('chat-message-image').onchange = function (e) {
        console.log(e);

        function sendFile() {
            file = e.target.files[0];
            // var file = document.getElementById('chat-message-image').files[0];

            var reader = new FileReader();

            var rawData = new ArrayBuffer();


            reader.onload = function (e) {

                rawData = e.target.result;

                chatSocket.send(JSON.stringify({
                    'file_name': file.name,
                }));
                chatSocket.send(rawData
                );

                console.log(rawData.byteLength);
                alert("the File has been transferred.")

            };
            reader.readAsArrayBuffer(file);
        }
        sendFile();

    };

    document.querySelector('#chat-message-leave').onclick = function (e) {
        if (chatSocket.readyState === WebSocket.OPEN) {
            //Error code 1000 means that the connection was closed normally.
            chatSocket.close(1000, 'user leave chat room');
        }
    };

</script>
</html>